#request {
    width: 50%;
    height: 50px;
    font-weight: 700;
    border-radius: 0px;
    border: 3px solid #ba2c2c;
    color: #ba2c2c;
    background-color: transparent;
    font-size: 1.4em;
}

#request:hover {
    
}

.modal-title {
    color: #ba2c2c;
    font-weight: 800;
}

select {
    height: 50px;
    border-radius: 0px;
    font-weight: 600;
}

#sendRequest {
    width: 75%;
    color: #ffffff;
    background-color: #ba2c2c;
    border-radius: 0px;
    height: 50px;
    font-size: 1.2em;
}